.activityContainer {
	height: 300px;
	width: 300px;
	border: 2px solid black;
	float: left;
	margin-left: 25px;
}

.textInput {
	width: 80%;
	height: 20px;
	margin-left: 10%;
	margin-top: 10px;
	border: 1px solid black;
}

#pigLatinLabel {
  font-size: 50px;
  font-family: fantasy;
  color: #540344;
  text-align: center;
}

.submitButton {
	margin-top: 10px;
	margin-left: 10%;
}

.outputContainer {
	margin-left: 10%;
	width: 80%;
	height: 100px;
	border: 1px solid black;
}

#brailleContainer {
	width: 600px;
}

#brailleLabel {
  font-size: 50px;
  font-family: monospace;
  color: #383737;
  text-align: center;
}

#brailleResult {
	margin-top: 15px;
}